<div class="header-wrapper">
  <h1 class="uk-heading-divider">User List</h1>
  <div class="header-btn">
      <button class="uk-button uk-button-primary uk-button-small" uk-toggle="target: #user-create" (click)="clearCreateInput()">Create new</button>
  </div>  
</div>

<table class="uk-table uk-table-divider uk-table-striped uk-table-hover">
  <thead>
      <tr>
          <th>ID</th>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>E-Mail</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let u of users" uk-toggle="target: #user-edit" (click)="openEditModal(u)">
          <td>{{u.id}}</td>
          <td>{{u.username}}</td>
          <td>{{u.first_name}}</td>
          <td>{{u.last_name}}</td>
          <td>{{u.email}}</td>
      </tr>
  </tbody>
</table>

<div id="user-create" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
          <h1 class="uk-modal-title">Create User</h1>
      </div>
      <div class="uk-modal-body">
          <form class="uk-form-horizontal uk-margin-large uk-form">
              <div class="uk-margin">
                  <label class="uk-form-label" for="form-horizontal-text">Username:</label>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="create_username" [(ngModel)]="create_username">
                  </div>

                  <div><p>&nbsp;</p></div>

                  <label class="uk-form-label" for="form-horizontal-text">First Name:</label>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="create_first_name" [(ngModel)]="create_first_name">
                  </div>

                  <div><p>&nbsp;</p></div>

                  <label class="uk-form-label" for="form-horizontal-text">Last Name:</label>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="create_last_name" [(ngModel)]="create_last_name">
                  </div>

                  <div><p>&nbsp;</p></div>

                  <label class="uk-form-label" for="form-horizontal-text">E-Mail:</label>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="create_email" [(ngModel)]="create_email">
                  </div>

                  <div><p>&nbsp;</p></div>

                  <label class="uk-form-label" for="form-horizontal-text">Password:</label>
                  <div class="uk-form-controls uk-form-password">
                    <input type="password" name="create_password" [(ngModel)]="create_password">
                  </div>
              </div>
          </form>
      </div>
      <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-primary uk-modal-close" type="submit" (click)="create()" [disabled]="!create_username||!create_email||!create_password">Create</button>
      </div>
  </div>
</div>

<div id="user-edit" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
          <h1 class="uk-modal-title">Edit User</h1>
      </div>
      <div class="uk-modal-body">
          <form class="uk-form-horizontal uk-margin-large uk-form">
              <div class="uk-margin">
                  <label class="uk-form-label" for="form-horizontal-text">Username:</label>
                  <div class="uk-form-controls">
                      <input class="uk-input" name="edit_username" type="text" [(ngModel)]="user.username" value={{user.username}}>
                  </div>

                  <div><p>&nbsp;</p></div>

                  <label class="uk-form-label" for="form-horizontal-text">First Name:</label>
                  <div class="uk-form-controls">
                      <input class="uk-input" name="edit_first_name" type="text" [(ngModel)]="user.first_name">
                  </div>

                  <div><p>&nbsp;</p></div>

                  <label class="uk-form-label" for="form-horizontal-text">Last Name:</label>
                  <div class="uk-form-controls">
                      <input class="uk-input" name="edit_last_name" type="text" [(ngModel)]="user.last_name">
                  </div>

                  <div><p>&nbsp;</p></div>

                  <label class="uk-form-label" for="form-horizontal-text">E-Mail:</label>
                  <div class="uk-form-controls">
                      <input class="uk-input" name="edit_email" type="text" [(ngModel)]="user.email">
                  </div>

                  <div><p>&nbsp;</p></div>

                  <label class="uk-form-label" for="form-horizontal-text">New Password:</label>
                  <div class="uk-form-controls uk-form-password">
                    <input type="password" name="edit_password" [(ngModel)]="edit_password">
                  </div>
              </div>
          </form>
      </div>
      <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-primary uk-modal-close" type="submit" (click)="edit()">Edit</button>
          <button class="uk-button uk-button-danger uk-modal-close" type="submit" (click)="delete()">Delete</button>
      </div>
  </div>
</div>