<div class="annotool-container uk-background-primary">
  <div class="annotool-box">
    <!-- <div class="logo-wrapper">
        <img src="assets/ketos_white.svg">
    </div> -->
    <div class="annotool-inner uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">Annotation Task: {{task.name}}</h3>

      <div class="progress-wrapper">
        <progress id="js-progressbar" class="uk-progress" value="{{current_entry_id + 1}}" max="{{entries.length}}"></progress>
        <div>entry {{current_entry_id + 1}} of {{entries.length}}</div>
      </div>
      

      <div uk-grid>
        <div class="uk-width-2-3">
            <div class="uk-card uk-card-default uk-card-body">
              <table class="uk-table uk-table-striped">
                <thead>
                  <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let json_entry of getEntryJson()" style="text-align: left">
                    <td>{{json_entry["key"]}}</td>
                    <td>{{json_entry["value"]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="uk-width-expand">
          <div class="uk-card uk-card-default uk-card-body scale-entries">
            <div class="uk-margin" *ngFor="let scale_entry of scale_entries">
              <label>
                <input class="uk-{{getType(task.anno_type)}}" type="{{getType(task.anno_type)}}" name="radio" (change)="setResult(scale_entry)">
                &nbsp;&nbsp;{{scale_entry.name}}
              </label>
            </div>
          </div>
          <button class="uk-button uk-button-primary" (click)="save()">Save & continue</button>
        </div>
      </div>

    </div>
  </div>
</div>
