@import "../../theme/theme-variables";

.annotool-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.uk-card-title{
  font-weight: lighter;
  font-size: 40px;
}

.annotool-box {
  width: 800px;
  min-height: 500px;
  /* margin: 0 auto; */
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -200px;
  margin-left: -400px;
}

.logo-wrapper{
  height: 65px;
  text-align: center;
  margin-bottom: 35px;
  img {
    width: auto;
    height: 100%;
  }
}

.annotool-inner{
  text-align: center;
  button{
    width: 100%;
  }
}

.uk-inline{
  width: 100%;
}

.scale-entries{
  text-align: left;
}

.progress-wrapper{
  text-align: center;
  margin-bottom: 20px;

  div{
    margin-top: -18px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.annotation-finished{
  font-size: 130%;
}