<div class="annotool-container uk-background-primary">
  <div class="annotool-box">
    <!-- <div class="logo-wrapper">
        <img src="assets/ketos_white.svg">
    </div> -->
    <div class="annotool-inner uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">Annotation Task: {{task.name}}</h3>

      <div class="progress-wrapper">
        <progress id="js-progressbar" class="uk-progress" value="{{current_entry_id + 1}}" max="{{entries.length}}"></progress>
        <div>entry {{current_entry_id + 1 + already_done}} of {{entries.length + already_done}}</div>
      </div>
      
      <div class="annotation-finished" *ngIf="isFinished">
        <span uk-icon="icon: check; ratio: 4"></span><br>
        Annotation is finished. Thank you for your work!
      </div>

      <div uk-grid *ngIf="!isFinished">
        <div class="uk-width-2-3">
            <div class="uk-card uk-card-default uk-card-body">

              <table class="uk-table uk-table-striped">
                <thead>
                  <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let json_entry of getEntryJson()" style="text-align: left">
                    <td>{{json_entry["key"]}}</td>
                    <td>{{json_entry["value"]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="uk-width-expand">
          <div class="uk-card uk-card-default uk-card-body scale-entries">
            <span>{{task.description}}</span>
            <div class="uk-margin" *ngFor="let scale_entry of scale_entries">
              <label>
                <input *ngIf="task.anno_type == 0" class="uk-checkbox" type="checkbox" name="{{scale_entry.name}}" [(ngModel)]="scale_entry.checked">
                <input *ngIf="task.anno_type == 1" class="uk-radio" type="radio" name="radio" [(ngModel)]="scale_entry.checked">
                &nbsp;&nbsp;{{scale_entry.name}}
              </label>
            </div>
          </div>
          
          <button class="uk-button uk-button-primary" (click)="save()">Save & continue</button>
        </div>
      </div>

    </div>
  </div>
</div>
