<div class="side-menu">
  <div class="logo-wrapper uk-padding">
      <img src="img/logo.svg">
      <span>smartlog</span>
  </div>

  <div class="menu-wrapper">
    <ul class="uk-list">
      <li class="active"><span uk-icon="icon: desktop"></span>&nbsp;&nbsp;<a href="/demo">Demo</a></li>
      <li><span uk-icon="icon: database"></span>&nbsp;&nbsp;Türme</li>
      <li><span uk-icon="icon: thumbnails"></span>&nbsp;&nbsp;<a href="/articles">Artikel</a></li>
      <li><span uk-icon="icon: play-circle"></span>&nbsp;&nbsp;<a href="/playlists">Playlists</a></li>
      <li><span uk-icon="icon: users"></span>&nbsp;&nbsp;Benutzer</li>
      <li><span uk-icon="icon: list"></span>&nbsp;&nbsp;Stammdaten</li>
    </ul>
  </div>

  <div class="user-wrapper">
    <span uk-icon="icon: user"></span>&nbsp;&nbsp;Max Mustermann
  </div>
</div>