<div class="side-menu">
  <div class="logo-wrapper uk-padding">
      <img src="assets/ketos_white.svg">
  </div>

  <div class="menu-wrapper">
    <ul class="uk-list">
      <li class="active"><span uk-icon="icon: desktop"></span>&nbsp;&nbsp;<a href="/environments">Environments</a></li>
      <li><span uk-icon="icon: thumbnails"></span>&nbsp;&nbsp;<a href="/mlmodels">ML Models</a></li>
      <li><span uk-icon="icon: bookmark"></span>&nbsp;&nbsp;<a href="/features">Features</a></li>      
      <li><span uk-icon="icon: move"></span>&nbsp;&nbsp;<a href="/feature-sets">Feature Sets</a></li> 
      <li><span uk-icon="icon: users"></span>&nbsp;&nbsp;<a href="/cohorts">Cohorts</a></li>    
      <li><span uk-icon="icon: table"></span>&nbsp;&nbsp;<a href="/data">Data Requests</a></li>  
      <li><span uk-icon="icon: database"></span>&nbsp;&nbsp;<a href="/about">Datasets</a></li>
      <li *ngIf="auth.getUser().username=='admin'"><span uk-icon="icon: user"></span>&nbsp;&nbsp;<a href="/admin-user-list">User management</a></li>
      <li><span uk-icon="icon: cog"></span>&nbsp;&nbsp;<a href="/playlists">Configuration</a></li>
      <li><span uk-icon="icon: sign-out"></span>&nbsp;&nbsp;<a href="/login">Logout</a></li>
    </ul>
  </div>

  <div class="user-wrapper">
    <span uk-icon="icon: user"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{auth.getUser() | username}}
  </div>
</div>