<div class="header-wrapper">
  <h1 class="uk-heading-divider">Annotation Tasks</h1>
  <div class="header-btn">
      <button class="uk-button uk-button-primary uk-button-small" uk-toggle="target: #feature-form" (click)="beforeOpenModal()">Create new</button>
  </div>  
</div>

<table class="uk-table uk-table-divider uk-table-striped uk-table-hover">
  <thead>
      <tr>
          <th class="uk-table-shrink"></th>
          <th>Name</th>
          <th>Crawler Id</th>
          <th>Type</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let annotation of annotations">
          <td><button uk-icon="icon: pencil" uk-toggle=" target: #feature-form" (click)="edit(annotation)"></button></td>
          <td>{{annotation.name}}</td>
          <td>{{annotation.crawler_job_id}}</td>
          <td>{{mapAnnoCodeToName(annotation.anno_type)}}</td>
      </tr>
  </tbody>
</table>

<div id="feature-form" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
          <h1 class="uk-modal-title">Create Annotation Task</h1>
          <!-- <h1 *ngIf="!is_form_create" class="uk-modal-title">Edit Annotation Task</h1> -->
      </div>
      <div class="uk-modal-body">
        <ul uk-tab>
          <li><a href="#">Settings</a></li>
          <li *ngIf="edit_mode"><a href="#">Annotators</a></li>
          <li *ngIf="edit_mode"><a href="#">Answer Options</a></li>
          <li *ngIf="edit_mode"><a href="#">Save to FHIR</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
          <li>
            <form class="uk-form-horizontal uk-margin-large">
              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Name:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" required name="form_annotation.name" [(ngModel)]="form_annotation.name">
                </div>

                <div><p>&nbsp;</p></div>

                <label class="uk-form-label" for="form-horizontal-text">Description:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" required name="form_annotation.description" [(ngModel)]="form_annotation.description">
                </div>

                <div><p>&nbsp;</p></div>

                <label class="uk-form-label" for="form-horizontal-text">Type:</label>
                <div class="uk-form-controls">
                  <select lass="uk-select" class="uk-select" required name="form_annotation.anno_type" [(ngModel)]="form_annotation.anno_type">
                    <option *ngFor="let anno_type of anno_types" value="{{anno_type.id}}">{{anno_type.name}}</option>
                  </select>
                </div>

                <div><p>&nbsp;</p></div>

                <label class="uk-form-label" for="form-horizontal-text">Data Request:</label>
                <div class="uk-form-controls">
                  <select lass="uk-select" class="uk-select" required name="form_annotation.crawler_job_id" [(ngModel)]="form_annotation.crawler_job_id">
                    <option *ngFor="let request of crawlers" value="{{request._id}}">{{request._id}}</option>
                  </select>
                </div>

                <div *ngIf="!edit_mode">
                  <div><p>&nbsp;</p></div>
                  <label class="uk-form-label" for="form-horizontal-text">Number of Annotators:</label>
                  <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="number" required name="numberannotators" [(ngModel)]="numberannotators">
                  </div>
                </div>
                
  
              </div>
            </form>
          </li>
          <li>
            <ul class="uk-list uk-list-striped">
              <li *ngFor="let annotator of annotators"><a href="{{getUrl(annotator.token)}}" target="_blank">{{getUrl(annotator.token)}}</a></li>
            </ul>
          </li>

          <li>
            

            <div uk-grid class="uk-margin">
                <div class="uk-width-expand">
                    <input class="uk-input" type="text" placeholder="Name" #entryname>
                </div>
                <div class="uk-width-expand">
                  <input class="uk-input" type="text" placeholder="Code" #entrycode>
                </div>
                <div class="uk-width-auto">
                    <button class="uk-button uk-button-primary" (click)="createScaleEntry(form_annotation, entryname.value, entrycode.value); entryname.value=''; entrycode.value=''">Add Entry</button>
                </div>
            </div>
            
            <ul class="uk-list uk-list-striped">
              <li *ngFor="let scale_entry of scale_entries">
                {{scale_entry.name}} (Code: {{scale_entry.code}})
                <button class="uk-button uk-button-default uk-button-small uk-align-right" (click)="deleteScaleEntry(form_annotation, scale_entry)">Remove</button>
              </li>
            </ul>
          </li>

          <li>

            <form class="uk-form-horizontal uk-margin-large">
              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Server:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" value="http://ketos.ai:8080/gtfhir/base/" #server>
                </div>

                <div><p>&nbsp;</p></div>

                <label class="uk-form-label" for="form-horizontal-text">System:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" value="http://snomed.info/sct" #system>
                </div>

                <div><p>&nbsp;</p></div>

                <label class="uk-form-label" for="form-horizontal-text">Code:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" value="1060601000000109" #code>
                </div>

                <div><p>&nbsp;</p></div>
                
                <button [hidden]="showLoading" class="uk-button uk-button-primary" type="submit" (click)="writeToFHIR(server.value, system.value, code.value)">Write to FHIR Server</button>
                <div [hidden]="!showLoading" uk-spinner></div>

              </div>
            </form>
          </li>
        </ul>

      </div>
      <div class="uk-modal-footer uk-text-right">
          <button *ngIf="!edit_mode" class="uk-button uk-button-primary uk-modal-close" type="submit" (click)="create(form_annotation, numberannotators)">Create</button>
          <button *ngIf="edit_mode" class="uk-button uk-button-danger uk-modal-close" type="submit" (click)="delete(form_annotation)">Delete</button>
      </div>
      <!-- <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-primary uk-modal-close" type="submit" (click)="edit()"
           [disabled]="true">Submit Changes</button>
          <button class="uk-button uk-button-danger uk-modal-close" type="submit" (click)="delete()">Delete</button>
      </div> -->
  </div>
</div>
