.logo {
    width: 100px;
  }
  
  q {
    font-style: italic;
    font-size: 1.2rem;
    quotes: "« " " »";
  }
  
  .ketos_margin_top {
    margin-top: 40px;
  }
  
  .ketos_link {
    color: #1f86f1 !important;
  }
  
  .ketos_gs_info {
    color: #1f86f1;
    font-size: 21px;
  }