<div class="header-wrapper">
  <h1 class="uk-heading-divider">FHIR Resource Configurations</h1>
  <div class="header-btn">
      <button class="uk-button uk-button-primary uk-button-small" uk-toggle="target: #config-form" (click)="clearForm(); is_form_create = true;">Create new</button>
  </div>  
</div>

<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div *ngFor="let r of resourceConfigs">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover env-card">
            <h4 class="uk-margin-small-bottom"><button uk-icon="icon: pencil" uk-toggle="target: #config-form" (click)="setForm(r); is_form_create = false;">{{r.resource_name}} </button></h4>
            <h5 class="uk-heading-bullet uk-margin-small-bottom uk-margin-small-top">Value Path</h5>
            {{r.resource_value_relative_path}}

            <div *ngIf="r.sort_order && r.sort_order.length > 0">
                <h5 class="uk-heading-bullet uk-margin-small-bottom uk-margin-small-top">Sort Paths</h5>
                <ul class="uk-list uk-list-bullet">
                    <li *ngFor="let sortPath of r.sort_order">{{sortPath}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="config-form" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h1 *ngIf="is_form_create" class="uk-modal-title">Create FHIR Resource Configuration</h1>
            <h1 *ngIf="!is_form_create" class="uk-modal-title">Edit FHIR Resource Configuration</h1>
        </div>
        <div class="uk-modal-body">
            <form class="uk-grid-small" uk-grid>
                  <label class="uk-form-label">Resource:</label>
                  <div class="uk-form-controls uk-width-1-1">
                        <select *ngIf="is_form_create" class="uk-select uk-width-1-2@s" id="env" type="number" required name="form_config.resource_name" [(ngModel)]="form_config.resource_name">
                            <option *ngFor="let resource of fhirResources" value="{{resource}}">{{resource}}</option>
                        </select>
                        <input *ngIf="!is_form_create" class="uk-input uk-width-1-2@s" type="text" disabled name="form_config.resource_name" [(ngModel)]="form_config.resource_name">
                  </div>

                  <label class="uk-form-label">FHIR Resource Path:</label>
                  <div class="uk-form-controls uk-width-1-1">
                        <input class="uk-input uk-width-1-2@s" type="text" placeholder="Path to Value of FHIR Resource" name="form_config.resource_value_relative_path" [(ngModel)]="form_config.resource_value_relative_path">
                  </div>

                  <label class="uk-form-label">FHIR Resource Sort Paths:</label>
                  <div class="uk-form-controls uk-width-1-1" *ngFor="let sortOrder of form_config.sort_order; index as i; trackBy:trackByIndex" uk-grid>
                    <div class="uk-form-controls uk-width-1-2@s">
                        <input class="uk-input" type="text" placeholder="FHIR Resource Sort Path" [(ngModel)]="form_config.sort_order[i]" name="form_config.sort_order{{i}}">
                    </div>
                  </div>
                  <button uk-icon="icon: plus" class="uk-button uk-button-primary uk-button-small uk-form-label" (click)="extendSortPaths(form_config)"></button>
            </form>
        </div>
        <div *ngIf="is_form_create" class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary uk-modal-close" type="submit" (click)="create()" 
             [disabled]="!form_config.resource_name">Create</button>
        </div>
        <div *ngIf="!is_form_create" class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary uk-modal-close" type="submit" (click)="edit()">Submit Changes</button>
            <button class="uk-button uk-button-danger uk-modal-close" type="submit" (click)="delete()">Delete</button>
        </div>
    </div>
  </div>